{
  "Version": "2019-10-30",
  "StartAction": "7aa4c7ff-7a08-4450-b896-90e4bb46ab5a",
  "Metadata": {
    "entryPointPosition": {
      "x": -889.6,
      "y": 436
    },
    "ActionMetadata": {
      "Disable logging": {
        "position": {
          "x": 1772,
          "y": 260.8
        },
        "isFriendlyName": true
      },
      "86d773ca-45d3-4ad0-891b-d244dfde3cf0": {
        "position": {
          "x": 2243.2,
          "y": 1018.4
        }
      },
      "Unexpected Error Message-copy-1": {
        "position": {
          "x": 2001.6,
          "y": 983.2
        },
        "isFriendlyName": true
      },
      "8161bab0-7f93-439f-b0ee-49f91cb65296": {
        "position": {
          "x": 3540.8,
          "y": 475.2
        }
      },
      "Check callRecordingEnabled": {
        "position": {
          "x": 2092,
          "y": 442.4
        },
        "isFriendlyName": true,
        "conditions": [],
        "conditionMetadata": [
          {
            "id": "fb8632e9-504d-4337-969c-42dfc989a0df",
            "operator": {
              "name": "Equals",
              "value": "Equals",
              "shortDisplay": "="
            },
            "value": "false"
          }
        ]
      },
      "Logging enabled?": {
        "position": {
          "x": 1503.2,
          "y": 459.2
        },
        "isFriendlyName": true,
        "conditions": [],
        "conditionMetadata": [
          {
            "id": "689335fb-2ef5-4553-be10-d488cc2117cb",
            "operator": {
              "name": "Equals",
              "value": "Equals",
              "shortDisplay": "="
            },
            "value": "false"
          }
        ]
      },
      "4c44110a-a63f-4842-9b08-ec11026a5218": {
        "position": {
          "x": 905.6,
          "y": 422.4
        },
        "conditions": [],
        "conditionMetadata": [
          {
            "id": "32cf4cfc-5a0b-4fb5-af93-44d6cbf85069",
            "operator": {
              "name": "Equals",
              "value": "Equals",
              "shortDisplay": "="
            },
            "value": "ccv"
          }
        ]
      },
      "cc2a2061-e81c-47b1-8b7e-b47e63ac9c11": {
        "position": {
          "x": 1178.4,
          "y": 344
        },
        "parameters": {
          "Attributes": {
            "ch-ccvlob-queue-sp": {
              "useDynamic": true
            },
            "ch-ccvlob-queue-en": {
              "useDynamic": true
            }
          }
        },
        "dynamicParams": [
          "ch-ccvlob-queue-sp",
          "ch-ccvlob-queue-en"
        ]
      },
      "Customer Journey Unexpected Error-copy-1": {
        "position": {
          "x": 1757.6,
          "y": 825.6
        },
        "isFriendlyName": true,
        "dynamicParams": []
      },
      "Customer Journey Unexpected Error": {
        "position": {
          "x": 1757.6,
          "y": 1045.6
        },
        "isFriendlyName": true,
        "dynamicParams": []
      },
      "11817d26-875d-43cd-9141-3b389f8d1ba9": {
        "position": {
          "x": 1525.6,
          "y": 896.8
        }
      },
      "7aa4c7ff-7a08-4450-b896-90e4bb46ab5a": {
        "position": {
          "x": -597.6,
          "y": 437.6
        }
      },
      "Set Default Recording used in case of DNIS error": {
        "position": {
          "x": -359.2,
          "y": 438.4
        },
        "isFriendlyName": true
      },
      "set customerJourney flowname": {
        "position": {
          "x": -129.6,
          "y": 417.6
        },
        "isFriendlyName": true,
        "dynamicParams": []
      },
      "Invoke us-west-2 lambda": {
        "position": {
          "x": 413.6,
          "y": 624
        },
        "isFriendlyName": true,
        "parameters": {
          "LambdaFunctionARN": {
            "displayName": "get-connect-config-lambda"
          },
          "LambdaInvocationAttributes": {
            "value": {
              "useDynamic": true
            }
          }
        },
        "dynamicMetadata": {
          "configType": false,
          "value": true
        }
      },
      "Primary DID settings-copy-1": {
        "position": {
          "x": 664,
          "y": 426.4
        },
        "isFriendlyName": true,
        "parameters": {
          "Attributes": {
            "lobName": {
              "useDynamic": true
            },
            "languageCode": {
              "useDynamic": true
            },
            "countryCode": {
              "useDynamic": true
            },
            "callRecordingEnabled": {
              "useDynamic": true
            },
            "loggingEnabled": {
              "useDynamic": true
            },
            "contactLensEnabled": {
              "useDynamic": true
            },
            "ttsVoice_en": {
              "useDynamic": true
            },
            "ttsVoice_es": {
              "useDynamic": true
            },
            "startContactFlowName": {
              "useDynamic": true
            },
            "startContactFlowARN": {
              "useDynamic": true
            },
            "isTestCall": {
              "useDynamic": true
            },
            "collectExtention": {
              "useDynamic": true
            },
            "ch-lmda-ivr-get-connect-config-arn": {
              "useDynamic": true
            },
            "ch-error-queue-arn": {
              "useDynamic": true
            }
          }
        },
        "dynamicParams": [
          "lobName",
          "languageCode",
          "countryCode",
          "callRecordingEnabled",
          "loggingEnabled",
          "contactLensEnabled",
          "ttsVoice_en",
          "ttsVoice_es",
          "startContactFlowName",
          "startContactFlowARN",
          "isTestCall",
          "collectExtention",
          "ch-lmda-ivr-get-connect-config-arn",
          "ch-error-queue-arn"
        ]
      },
      "cb57c541-18e1-4936-93f4-d7be0fc259cb": {
        "position": {
          "x": 1254.4,
          "y": 894.4
        },
        "parameters": {
          "QueueId": {
            "displayName": "ch_dnis_error"
          }
        },
        "queue": {
          "text": "ch_dnis_error"
        }
      },
      "Check Region": {
        "position": {
          "x": 124.8,
          "y": 426.4
        },
        "isFriendlyName": true,
        "conditions": [],
        "conditionMetadata": [
          {
            "id": "846c9cfe-61e2-4bdb-b47f-a8f020f0aa1f",
            "operator": {
              "name": "Equals",
              "value": "Equals",
              "shortDisplay": "="
            },
            "value": "us-east-1"
          }
        ]
      },
      "Invoke us-east-1 lambda": {
        "position": {
          "x": 416.8,
          "y": 425.6
        },
        "isFriendlyName": true,
        "parameters": {
          "LambdaFunctionARN": {
            "displayName": "get-connect-config-lambda"
          },
          "LambdaInvocationAttributes": {
            "value": {
              "useDynamic": true
            }
          }
        },
        "dynamicMetadata": {
          "configType": false,
          "value": true
        }
      },
      "58d985c8-8c4b-4ad8-9c5b-34935109704a": {
        "position": {
          "x": 3264,
          "y": 473.6
        },
        "parameters": {
          "ContactFlowId": {
            "useDynamic": true
          }
        },
        "useDynamic": true
      },
      "Set Default Recording used in case of DN-copy-1": {
        "position": {
          "x": 2378.4,
          "y": 380
        },
        "isFriendlyName": true
      },
      "Set Default Recording used in case of DN-copy-2": {
        "position": {
          "x": 2627.2,
          "y": 542.4
        },
        "isFriendlyName": true
      },
      "Check contactLensEnabled": {
        "position": {
          "x": 2384.8,
          "y": 553.6
        },
        "isFriendlyName": true,
        "conditions": [],
        "conditionMetadata": [
          {
            "id": "005822e1-f160-4142-82ff-b1da0923d287",
            "operator": {
              "name": "Equals",
              "value": "Equals",
              "shortDisplay": "="
            },
            "value": "true"
          }
        ]
      },
      "Set tag": {
        "position": {
          "x": 2999.2,
          "y": 487.2
        },
        "isFriendlyName": true,
        "parameters": {
          "Tags": {
            "lobName": {
              "useDynamic": true
            }
          }
        }
      }
    },
    "Annotations": [],
    "name": "ch_dnis_entry_preactions_flow",
    "description": "ch_dnis_entry_preactions_flow",
    "type": "contactFlow",
    "status": "PUBLISHED",
    "hash": {}
  },
  "Actions": [
    {
      "Parameters": {
        "FlowLoggingBehavior": "Disabled"
      },
      "Identifier": "Disable logging",
      "Type": "UpdateFlowLoggingBehavior",
      "Transitions": {
        "NextAction": "Check callRecordingEnabled"
      }
    },
    {
      "Parameters": {},
      "Identifier": "86d773ca-45d3-4ad0-891b-d244dfde3cf0",
      "Type": "EndFlowExecution",
      "Transitions": {}
    },
    {
      "Parameters": {
        "Text": "I'm sorry, but an unexpected error occurred.  Please call back again."
      },
      "Identifier": "Unexpected Error Message-copy-1",
      "Type": "MessageParticipant",
      "Transitions": {
        "NextAction": "86d773ca-45d3-4ad0-891b-d244dfde3cf0",
        "Errors": [
          {
            "NextAction": "86d773ca-45d3-4ad0-891b-d244dfde3cf0",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {},
      "Identifier": "8161bab0-7f93-439f-b0ee-49f91cb65296",
      "Type": "DisconnectParticipant",
      "Transitions": {}
    },
    {
      "Parameters": {
        "ComparisonValue": "$.Attributes.callRecordingEnabled"
      },
      "Identifier": "Check callRecordingEnabled",
      "Type": "Compare",
      "Transitions": {
        "NextAction": "Check contactLensEnabled",
        "Conditions": [
          {
            "NextAction": "Set Default Recording used in case of DN-copy-1",
            "Condition": {
              "Operator": "Equals",
              "Operands": [
                "false"
              ]
            }
          }
        ],
        "Errors": [
          {
            "NextAction": "Check contactLensEnabled",
            "ErrorType": "NoMatchingCondition"
          }
        ]
      }
    },
    {
      "Parameters": {
        "ComparisonValue": "$.Attributes.loggingEnabled"
      },
      "Identifier": "Logging enabled?",
      "Type": "Compare",
      "Transitions": {
        "NextAction": "Check callRecordingEnabled",
        "Conditions": [
          {
            "NextAction": "Disable logging",
            "Condition": {
              "Operator": "Equals",
              "Operands": [
                "false"
              ]
            }
          }
        ],
        "Errors": [
          {
            "NextAction": "Check callRecordingEnabled",
            "ErrorType": "NoMatchingCondition"
          }
        ]
      }
    },
    {
      "Parameters": {
        "ComparisonValue": "$.Attributes.lobName"
      },
      "Identifier": "4c44110a-a63f-4842-9b08-ec11026a5218",
      "Type": "Compare",
      "Transitions": {
        "NextAction": "Logging enabled?",
        "Conditions": [
          {
            "NextAction": "cc2a2061-e81c-47b1-8b7e-b47e63ac9c11",
            "Condition": {
              "Operator": "Equals",
              "Operands": [
                "ccv"
              ]
            }
          }
        ],
        "Errors": [
          {
            "NextAction": "Logging enabled?",
            "ErrorType": "NoMatchingCondition"
          }
        ]
      }
    },
    {
      "Parameters": {
        "Attributes": {
          "ch-ccvlob-queue-sp": "$.External.ch-ccvlob-queue-es",
          "ch-ccvlob-queue-en": "$.External.ch-ccvlob-queue-en"
        },
        "TargetContact": "Current"
      },
      "Identifier": "cc2a2061-e81c-47b1-8b7e-b47e63ac9c11",
      "Type": "UpdateContactAttributes",
      "Transitions": {
        "NextAction": "Logging enabled?",
        "Errors": [
          {
            "NextAction": "Logging enabled?",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "Attributes": {
          "customerJourney": "$.Attributes.customerJourney | Queue capacity reached"
        },
        "TargetContact": "Current"
      },
      "Identifier": "Customer Journey Unexpected Error-copy-1",
      "Type": "UpdateContactAttributes",
      "Transitions": {
        "NextAction": "Unexpected Error Message-copy-1",
        "Errors": [
          {
            "NextAction": "Unexpected Error Message-copy-1",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "Attributes": {
          "customerJourney": "$.Attributes.customerJourney | Play unexpected error and disconnect"
        },
        "TargetContact": "Current"
      },
      "Identifier": "Customer Journey Unexpected Error",
      "Type": "UpdateContactAttributes",
      "Transitions": {
        "NextAction": "Unexpected Error Message-copy-1",
        "Errors": [
          {
            "NextAction": "Unexpected Error Message-copy-1",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {},
      "Identifier": "11817d26-875d-43cd-9141-3b389f8d1ba9",
      "Type": "TransferContactToQueue",
      "Transitions": {
        "NextAction": "Customer Journey Unexpected Error",
        "Errors": [
          {
            "NextAction": "Customer Journey Unexpected Error-copy-1",
            "ErrorType": "QueueAtCapacity"
          },
          {
            "NextAction": "Customer Journey Unexpected Error",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "FlowLoggingBehavior": "Enabled"
      },
      "Identifier": "7aa4c7ff-7a08-4450-b896-90e4bb46ab5a",
      "Type": "UpdateFlowLoggingBehavior",
      "Transitions": {
        "NextAction": "Set Default Recording used in case of DNIS error"
      }
    },
    {
      "Parameters": {
        "RecordingBehavior": {
          "RecordedParticipants": [
            "Agent",
            "Customer"
          ],
          "IVRRecordingBehavior": "Disabled"
        }
      },
      "Identifier": "Set Default Recording used in case of DNIS error",
      "Type": "UpdateContactRecordingBehavior",
      "Transitions": {
        "NextAction": "set customerJourney flowname"
      }
    },
    {
      "Parameters": {
        "Attributes": {
          "customerJourney": "CH Entry Pre Action Flow"
        },
        "TargetContact": "Current"
      },
      "Identifier": "set customerJourney flowname",
      "Type": "UpdateContactAttributes",
      "Transitions": {
        "NextAction": "Check Region",
        "Errors": [
          {
            "NextAction": "Check Region",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "LambdaFunctionARN": "${getDidAttributes_us_west_2_function_arn}",
        "InvocationTimeLimitSeconds": "8",
        "InvocationType": "SYNCHRONOUS",
        "LambdaInvocationAttributes": {
          "configType": "dids",
          "value": "$.SystemEndpoint.Address"
        },
        "ResponseValidation": {
          "ResponseType": "STRING_MAP"
        }
      },
      "Identifier": "Invoke us-west-2 lambda",
      "Type": "InvokeLambdaFunction",
      "Transitions": {
        "NextAction": "Primary DID settings-copy-1",
        "Errors": [
          {
            "NextAction": "cb57c541-18e1-4936-93f4-d7be0fc259cb",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "Attributes": {
          "lobName": "$.External.lobName",
          "languageCode": "$.External.languageCode",
          "countryCode": "$.External.countryCode",
          "callRecordingEnabled": "$.External.callRecordingEnabled",
          "loggingEnabled": "$.External.loggingEnabled",
          "contactLensEnabled": "$.External.contactLensEnabled",
          "ttsVoice_en": "$.External.ttsVoice_en",
          "ttsVoice_es": "$.External.ttsVoice_es",
          "startContactFlowName": "$.External.startContactFlowName",
          "startContactFlowARN": "$.External.startContactFlowARN",
          "isTestCall": "$.External.isTestCall",
          "collectExtention": "$.External.collectExtention",
          "ch-lmda-ivr-get-connect-config-arn": "$.External.ch-lmda-ivr-get-connect-config-arn",
          "ch-error-queue-arn": "$.External.ch-error-queue-arn"
        },
        "TargetContact": "Current"
      },
      "Identifier": "Primary DID settings-copy-1",
      "Type": "UpdateContactAttributes",
      "Transitions": {
        "NextAction": "4c44110a-a63f-4842-9b08-ec11026a5218",
        "Errors": [
          {
            "NextAction": "4c44110a-a63f-4842-9b08-ec11026a5218",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "QueueId": "${ch_dnis_error_queue_arn}"
      },
      "Identifier": "cb57c541-18e1-4936-93f4-d7be0fc259cb",
      "Type": "UpdateContactTargetQueue",
      "Transitions": {
        "NextAction": "11817d26-875d-43cd-9141-3b389f8d1ba9",
        "Errors": [
          {
            "NextAction": "Customer Journey Unexpected Error",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "ComparisonValue": "$.AwsRegion"
      },
      "Identifier": "Check Region",
      "Type": "Compare",
      "Transitions": {
        "NextAction": "Invoke us-west-2 lambda",
        "Conditions": [
          {
            "NextAction": "Invoke us-east-1 lambda",
            "Condition": {
              "Operator": "Equals",
              "Operands": [
                "us-east-1"
              ]
            }
          }
        ],
        "Errors": [
          {
            "NextAction": "Invoke us-west-2 lambda",
            "ErrorType": "NoMatchingCondition"
          }
        ]
      }
    },
    {
      "Parameters": {
        "LambdaFunctionARN": "${getDidAttributes_us_east_1_function_arn}",
        "InvocationTimeLimitSeconds": "8",
        "InvocationType": "SYNCHRONOUS",
        "LambdaInvocationAttributes": {
          "configType": "dids",
          "value": "$.SystemEndpoint.Address"
        },
        "ResponseValidation": {
          "ResponseType": "STRING_MAP"
        }
      },
      "Identifier": "Invoke us-east-1 lambda",
      "Type": "InvokeLambdaFunction",
      "Transitions": {
        "NextAction": "Primary DID settings-copy-1",
        "Errors": [
          {
            "NextAction": "cb57c541-18e1-4936-93f4-d7be0fc259cb",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "ContactFlowId": "$.Attributes.startContactFlowARN"
      },
      "Identifier": "58d985c8-8c4b-4ad8-9c5b-34935109704a",
      "Type": "TransferToFlow",
      "Transitions": {
        "NextAction": "8161bab0-7f93-439f-b0ee-49f91cb65296",
        "Errors": [
          {
            "NextAction": "8161bab0-7f93-439f-b0ee-49f91cb65296",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "RecordingBehavior": {
          "RecordedParticipants": [],
          "IVRRecordingBehavior": "Disabled"
        }
      },
      "Identifier": "Set Default Recording used in case of DN-copy-1",
      "Type": "UpdateContactRecordingBehavior",
      "Transitions": {
        "NextAction": "Set tag"
      }
    },
    {
      "Parameters": {
        "RecordingBehavior": {
          "RecordedParticipants": [
            "Agent",
            "Customer"
          ],
          "IVRRecordingBehavior": "Disabled"
        },
        "AnalyticsBehavior": {
          "Enabled": "True",
          "AnalyticsLanguage": "en-US",
          "AnalyticsRedactionBehavior": "Disabled",
          "AnalyticsRedactionResults": "RedactedAndOriginal",
          "ChannelConfiguration": {
            "Chat": {
              "AnalyticsModes": []
            },
            "Voice": {
              "AnalyticsModes": [
                "PostContact"
              ]
            }
          },
          "SummaryConfiguration": {
            "SummaryModes": [
              "PostContact"
            ]
          },
          "SentimentConfiguration": {
            "Enabled": "True"
          }
        }
      },
      "Identifier": "Set Default Recording used in case of DN-copy-2",
      "Type": "UpdateContactRecordingBehavior",
      "Transitions": {
        "NextAction": "Set tag"
      }
    },
    {
      "Parameters": {
        "ComparisonValue": "$.Attributes.contactLensEnabled"
      },
      "Identifier": "Check contactLensEnabled",
      "Type": "Compare",
      "Transitions": {
        "NextAction": "Set tag",
        "Conditions": [
          {
            "NextAction": "Set Default Recording used in case of DN-copy-2",
            "Condition": {
              "Operator": "Equals",
              "Operands": [
                "true"
              ]
            }
          }
        ],
        "Errors": [
          {
            "NextAction": "Set tag",
            "ErrorType": "NoMatchingCondition"
          }
        ]
      }
    },
    {
      "Parameters": {
        "Tags": {
          "lobName": "$.Attributes.lobName"
        }
      },
      "Identifier": "Set tag",
      "Type": "TagContact",
      "Transitions": {
        "NextAction": "58d985c8-8c4b-4ad8-9c5b-34935109704a",
        "Errors": [
          {
            "NextAction": "58d985c8-8c4b-4ad8-9c5b-34935109704a",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    }
  ]
}