{
  "Version": "2019-10-30",
  "StartAction": "62e779f7-b338-4be1-9800-8f70d80828db",
  "Metadata": {
    "entryPointPosition": {
      "x": -499.2,
      "y": -133.6
    },
    "ActionMetadata": {
      "End flow": {
        "position": {
          "x": 620,
          "y": 78.4
        },
        "isFriendlyName": true
      },
      "Route voicemail": {
        "position": {
          "x": 382.4,
          "y": 18.4
        },
        "isFriendlyName": true
      },
      "Set the target queue": {
        "position": {
          "x": -23.2,
          "y": 60.8
        },
        "isFriendlyName": true,
        "parameters": {
          "QueueId": {
            "useDynamic": true
          }
        },
        "useDynamic": true
      },
      "Set the target queue-copy-1": {
        "position": {
          "x": 139.2,
          "y": -165.6
        },
        "isFriendlyName": true,
        "parameters": {
          "AgentId": {
            "useDynamic": true
          }
        },
        "useDynamic": true
      },
      "62e779f7-b338-4be1-9800-8f70d80828db": {
        "position": {
          "x": -334.4,
          "y": -162.4
        },
        "conditions": [],
        "conditionMetadata": [
          {
            "id": "f96231f8-771c-4aa5-9f93-94380d62df5e",
            "operator": {
              "name": "Equals",
              "value": "Equals",
              "shortDisplay": "="
            },
            "value": "true"
          }
        ]
      }
    },
    "Annotations": [],
    "name": "ch-voice-mail-task-flow",
    "description": "",
    "type": "contactFlow",
    "status": "PUBLISHED",
    "hash": {}
  },
  "Actions": [
    {
      "Parameters": {},
      "Identifier": "End flow",
      "Type": "DisconnectParticipant",
      "Transitions": {}
    },
    {
      "Parameters": {},
      "Identifier": "Route voicemail",
      "Type": "TransferContactToQueue",
      "Transitions": {
        "NextAction": "End flow",
        "Errors": [
          {
            "NextAction": "End flow",
            "ErrorType": "QueueAtCapacity"
          },
          {
            "NextAction": "End flow",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "QueueId": "$.Attributes.VM_Task_Queue"
      },
      "Identifier": "Set the target queue",
      "Type": "UpdateContactTargetQueue",
      "Transitions": {
        "NextAction": "Route voicemail",
        "Errors": [
          {
            "NextAction": "Route voicemail",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "AgentId": "$.Attributes.agentEmail"
      },
      "Identifier": "Set the target queue-copy-1",
      "Type": "UpdateContactTargetQueue",
      "Transitions": {
        "NextAction": "Route voicemail",
        "Errors": [
          {
            "NextAction": "Route voicemail",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "ComparisonValue": "$.Attributes.agentSpecific"
      },
      "Identifier": "62e779f7-b338-4be1-9800-8f70d80828db",
      "Type": "Compare",
      "Transitions": {
        "NextAction": "Set the target queue",
        "Conditions": [
          {
            "NextAction": "Set the target queue-copy-1",
            "Condition": {
              "Operator": "Equals",
              "Operands": [
                "true"
              ]
            }
          }
        ],
        "Errors": [
          {
            "NextAction": "Set the target queue",
            "ErrorType": "NoMatchingCondition"
          }
        ]
      }
    }
  ]
}